::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0fdf4;
  /* Light green track */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  /* Green thumb */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15803d;
  /* Darker green on hover */
}